<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'base/css.html' %}
    <title>Saas - {% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'nav/navbar.html' %}
    {% if messages %}
        {% for message in messages %}
            <div role="alert" class="text-sm md:text-base alert alert-{{ message.tags }}">
                <span><strong>{{ message }}</strong></span>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    {% include 'base/js.html' %}

</body>
</html>